@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.footer {
	@include m.flex($ai: center, $jc: center);

	max-width: f.em(1200);
	margin: 0 auto;
	padding: f.em(16) f.em(32);

	&__logo {
		width: f.em(200);
	}
}
