@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.header {
	@include m.position(sticky, 0);

	box-shadow: $box-shadow;

	background-color: rgba($color-white, 0.4);
	backdrop-filter: blur(8px);

	z-index: 3;

	&__desktop {
		@include m.flex($ai: center, $jc: space-between);

		max-width: f.em(1200);
		margin: 0 auto;
		padding: f.em(8) f.em(32);

		@include m.media(laptop) {
			display: none;
		}
	}

	// MOBILE
	&__mobile {
		display: none;

		@include m.media(laptop) {
			@include m.flex($ai: center, $jc: flex-end);
		}
	}

	&__logo {
		&__link {
			display: block;

			img {
				width: f.em(200);
			}
		}
	}

	&__nav {
		&__list {
			@include m.flex($ai: center, $gap: f.em(24));

			.list {
				&__item {
					&__link {
						@include m.position(relative);

						color: $color-black;

						font-family: $font-family--secondary;
						font-size: f.em(18);
						font-weight: 600;
						text-decoration: none;

						transition: $transition;

						&::after {
							@include m.position(absolute, calc(100% + f.em(4)), calc(100% - 50%), 0, calc(100% - 50%));

							height: f.em(2);
							border-radius: f.em(2);
							opacity: 0;

							background-color: $color-gold;

							transition: $transition;
							content: "";
						}

						&:hover {
							color: $color-gold;

							&::after {
								@include m.position(absolute, calc(100% + f.em(4)), f.em(-8), 0, f.em(-8));

								opacity: 1;
							}
						}
					}
				}
			}
		}
	}

	&__responsive-menu {
		&__icon {
			display: block;
			padding: f.em(2) f.em(16) f.em(4);

			color: $color-black;

			font-size: f.em(32);

			input {
				display: none;
			}
		}

		&__menu {
			display: none;
			.menu {
				&__list {
					&__item {
						a {
							display: block;

							font-family: $font-family--secondary;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}
