@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.services {
	padding: f.em(24) 0;

	background-color: $color-black;

	&__title {
		color: $color-white;
	}

	&__container {
		@include m.grid($gc: repeat(3, f.em(304)), $gap: f.rem(32));

		max-width: 100%;
		padding: 0 f.em(32) f.em(24) f.em(32);
		margin: 0 auto;

		overflow: auto;
		scroll-snap-type: x mandatory;
		touch-action: auto;

		@include m.media(laptop) {
			@include m.grid($gc: repeat(8, f.em(304)), $gap: f.rem(16));
		}
	}

	&__article {
		border-radius: f.em(16);
		box-shadow: $box-shadow;

		background-color: $color-white;

		overflow: hidden;
		scroll-snap-align: center;
		scroll-snap-stop: always;

		&__container {
			padding: f.em(16) f.em(24) f.em(24);
		}

		&__title {
			margin-bottom: f.em(8);

			font-family: $font-family--secondary;
			font-size: f.em(24);
			font-weight: bold;
		}

		&--ghost {
			display: none;

			@include m.media(laptop) {
				display: block;
			}
		}
	}
}
