@charset "UTF-8";
@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 100;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-Thin.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-Thin.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: italic;
  font-weight: 100;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-ThinItalic.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-ThinItalic.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-ExtraLight.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: italic;
  font-weight: 200;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-ExtraLightItalic.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-Light.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-Light.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-LightItalic.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-Regular.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-Regular.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-RegularItalic.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-Medium.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-Medium.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: italic;
  font-weight: 500;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-MediumItalic.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-SemiBold.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: italic;
  font-weight: 600;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-SemiBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-Bold.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-Bold.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-BoldItalic.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-ExtraBold.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: italic;
  font-weight: 800;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-ExtraBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-Black.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-Black.woff") format("woff");
}
@font-face {
  font-family: "Fredoka";
  font-style: italic;
  font-weight: 900;
  font-display: fallback;
  src: url("../fonts/Fredoka/Fredoka-BlackItalic.woff2") format("woff2"), url("../fonts/Fredoka/Fredoka-BlackItalic.woff") format("woff");
}
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url("../fonts/Lora/Lora-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url("../fonts/Lora/Lora-Italic.woff2") format("woff2");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}
html body {
  margin: 0;
  color: #1a1a1a;
  background-color: #ffffff;
  font-size: 1rem;
  font-family: "Fredoka", sans-serif;
  line-height: 1.4;
}
html body * {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
html body *:focus {
  outline: none;
}
html body section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding-bottom: 2.5em;
}
html body section:not(:last-child) {
  margin-bottom: 5em;
}
@media (max-width: 991px) {
  html body section {
    padding-bottom: 0;
  }
}
html body h2 {
  position: relative;
  width: fit-content;
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: "Lora", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
html body h2::after {
  position: absolute;
  top: calc(100% + 0.25em);
  right: -1em;
  bottom: 0;
  left: -1em;
  height: 0.0625em;
  border-radius: 0.0625em;
  opacity: 0.4;
  background-color: #bda76b;
  transition: 0.4s ease;
  content: "";
}
@media (max-width: 991px) {
  html body h2 {
    margin-bottom: 1.5em;
  }
  html body h2::after {
    content: none;
  }
}
html body img {
  max-width: 100%;
}
html body button {
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
}
html body a {
  text-decoration: none;
}
html body strong {
  font-weight: 500;
}
html body .button {
  padding: 1em 2em;
  border: 0.125em solid currentColor;
  background-color: #bda76b;
  color: #1a1a1a;
  font-family: "Lora", sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  transition: 0.4s ease;
}
html body .button:hover {
  border-color: #bda76b;
  color: #bda76b;
  background-color: transparent;
}
html body .button--black {
  background-color: #1a1a1a;
  color: #ffffff;
}
html body .button--black:hover {
  border-color: #1a1a1a;
  color: #1a1a1a;
  background-color: transparent;
}

.header {
  position: sticky;
  top: 0;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  z-index: 3;
}
.header__desktop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  max-width: 75em;
  margin: 0 auto;
  padding: 0.5em 2em;
}
@media (max-width: 991px) {
  .header__desktop {
    display: none;
  }
}
.header__logo__link {
  display: block;
}
.header__logo__link img {
  width: 12.5em;
}
.header__nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  gap: 1.5em;
}
.header__nav__list .list__item__link {
  position: relative;
  color: #1a1a1a;
  font-family: "Lora", sans-serif;
  font-size: 1.125em;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s ease;
}
.header__nav__list .list__item__link::after {
  position: absolute;
  top: calc(100% + 0.25em);
  right: 50%;
  bottom: 0;
  left: 50%;
  height: 0.125em;
  border-radius: 0.125em;
  opacity: 0;
  background-color: #bda76b;
  transition: 0.4s ease;
  content: "";
}
.header__nav__list .list__item__link:hover {
  color: #bda76b;
}
.header__nav__list .list__item__link:hover::after {
  position: absolute;
  top: calc(100% + 0.25em);
  right: -0.5em;
  bottom: 0;
  left: -0.5em;
  opacity: 1;
}
.header__mobile {
  display: none;
}
@media (max-width: 991px) {
  .header__mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
}
.header__responsive-menu__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 100%;
  padding: 0 0 0 1.5em;
}
.header__responsive-menu__header img {
  width: 2.5em;
  filter: drop-shadow(0.0625em 0.0625em 0.125em rgba(26, 26, 26, 0.2));
}
.header__responsive-menu__header .header__icon {
  display: block;
  padding: 0.125em 1em 0.25em;
  color: #1a1a1a;
  font-size: 2em;
}
.header__responsive-menu__header .header__icon input {
  display: none;
}
.header__responsive-menu__menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  background-color: #1a1a1a;
  transition: 0.4s ease;
}
.header__responsive-menu__menu.open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  gap: 2em;
  opacity: 1;
  pointer-events: all;
}
.header__responsive-menu__menu .menu__icon {
  position: absolute;
  top: 0.125em;
  right: 0;
  display: block;
  padding: 0.125em 1em 0.25em;
  color: #ffffff;
  font-size: 2em;
  z-index: 1;
}
.header__responsive-menu__menu .menu__icon input {
  display: none;
}
.header__responsive-menu__menu .menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  gap: 2em;
}
.header__responsive-menu__menu .menu__list__item a {
  display: block;
  color: #ffffff;
  font-family: "Lora", sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.services {
  padding: 1.5em 0;
  background-color: #1a1a1a;
}
.services__title {
  color: #ffffff;
}
.services__container {
  display: grid;
  grid-template-columns: repeat(3, 19em);
  gap: 2rem;
  max-width: 100%;
  padding: 0 2em 1.5em 2em;
  margin: 0 auto;
  overflow: auto;
  scroll-snap-type: x mandatory;
  touch-action: auto;
}
@media (max-width: 991px) {
  .services__container {
    display: grid;
    grid-template-columns: repeat(8, 19em);
    gap: 1rem;
  }
}
.services__article {
  border-radius: 1em;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  overflow: hidden;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
.services__article__container {
  padding: 1em 1.5em 1.5em;
}
.services__article__title {
  margin-bottom: 0.5em;
  font-family: "Lora", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
.services__article--ghost {
  display: none;
}
@media (max-width: 991px) {
  .services__article--ghost {
    display: block;
  }
}

.prices__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  gap: 2em;
  width: 100%;
  padding: 0 2em;
  margin: 0 auto 2em;
}
@media (max-width: 991px) {
  .prices__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
}
.prices__article {
  width: 100%;
  max-width: 27.5em;
  padding: 2em;
  background-color: #1a1a1a;
  color: #ffffff;
}
.prices__article__title {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: "Lora", sans-serif;
  font-weight: bold;
}
.prices__article__list .list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.5em;
}
.prices__article__list .list__item::before {
  content: "→";
}
.prices__article:last-child {
  background-color: #bda76b;
  color: #1a1a1a;
}

.contact {
  padding-bottom: 0;
  background-color: #1a1a1a;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  gap: 2em;
}
@media (max-width: 991px) {
  .contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
}
.contact__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 1em 2em 4em;
}
.contact__title {
  margin-bottom: 0.5em;
  color: #ffffff;
  text-align: center;
}
.contact__text {
  margin-bottom: 2em;
  text-align: center;
}
.contact iframe {
  max-width: 100%;
}
@media (max-width: 991px) {
  .contact iframe {
    margin-top: 2em;
  }
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  max-width: 75em;
  margin: 0 auto;
  padding: 1em 2em;
}
.footer__logo {
  width: 12.5em;
}

/*# sourceMappingURL=styles.css.map */
